.theme--light-blue {
  --dark-shade: #cc0000;
  --primary: #5FC9F3;
  --accent: #f3895f;
  --light-shade: #bee9fa;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--light-blue.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--light-blue.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--light-blue.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--light-blue.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--black {
  --dark-shade: #cc0000;
  --primary: #283237;
  --accent: #372d28;
  --light-shade: #536872;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--black.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--black.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--black.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--black.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--purple {
  --dark-shade: #cc0000;
  --primary: #ee305a;
  --accent: #30eec4;
  --light-shade: #f68ea5;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--purple.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--purple.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--purple.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--purple.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--orange {
  --dark-shade: #cc0000;
  --primary: #f7892f;
  --accent: #2f9df7;
  --light-shade: #fbc191;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--orange.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--orange.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--orange.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--orange.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--yellow {
  --dark-shade: #cc0000;
  --primary: #ffca26;
  --accent: #265bff;
  --light-shade: #ffe38c;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--yellow.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--yellow.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--yellow.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--yellow.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--blue {
  --dark-shade: #cc0000;
  --primary: #3e78bb;
  --accent: #bb813e;
  --light-shade: #88add7;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--blue.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--blue.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--blue.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--blue.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--green {
  --dark-shade: #cc0000;
  --primary: #69bf66;
  --accent: #bc66bf;
  --light-shade: #b0ddae;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--green.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--green.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--green.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--green.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--red {
  --dark-shade: #cc0000;
  --primary: #ef3c3b;
  --accent: #3beeef;
  --light-shade: #f79a99;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--red.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--red.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--red.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--red.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--gray {
  --dark-shade: #cc0000;
  --primary: #7c7e81;
  --accent: #817f7c;
  --light-shade: #b0b1b3;
  --success: green;
  --warning: yellow;
  --danger: red;
}

.theme--gray.mode-light {
  --background-color: var(--light-shade);
  --foreground-color: var(--light-shade);
  --accent-text-and-border-color: var(--light-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--gray.mode-light-filled {
  --background-color: var(--light-shade);
  --foreground-text-and-border-color: var(--light-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}

.theme--gray.mode-dark {
  --background-color: var(--dark-shade);
  --foreground-color: var(--dark-shade);
  --accent-text-and-border-color: var(--dark-shade);
  --accent-color: var(--accent);
  --foreground-text-and-border-color: var(--primary);
}

.theme--gray.mode-dark-filled {
  --background-color: var(--dark-shade);
  --foreground-text-and-border-color: var(--dark-shade);
  --foreground-color: var(--primary);
  --accent-text-and-border-color: var(--primary);
  --accent-color: var(--accent-color);
}
